.DestinationMenu ul{
    display: flex;
    gap: 1.3rem;
}

.DestinationMenu li{
    letter-spacing: 2px;
    padding-bottom: 1rem;
    cursor: pointer;
}

.DestinationMenu li{
    font-size: 1rem;
}
.DestinationMenu li:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.623);
}

